<!DOCTYPE html>
<html>
<head>
    <title> @ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Site.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <header></header>
        
        <content>
            <div id="heading">
                <h1>@ViewData["Title"]</h1>
            </div>

            <aside>
                @await Component.InvokeAsync("LoginForm")

                @await Component.InvokeAsync("SideMenu")
            </aside>

            <div id="main">
                @RenderBody()
            </div>
        </content>

        <footer>
            <div id="twitter">
                <h3>TWITTER FEED</h3>
                <time datetime="2016-12-23"><a href="#">23 dec</a></time>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore vero, odit velit, obcaecati voluptatibus perspiciatis optio doloremque. Corporis id vel n</p>
            </div>
            <div id="social">
                <h3>SOCIAL NETWORKS</h3>
                <a href="http://twitter.com/" class="social-icon twitter"></a>
                <a href="http://facebook.com/" class="social-icon facebook"></a>
                <a href="http://plus.google.com/" class="social-icon google-plus"></a>
                <a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
                <a href="http://youtube.com/" class="social-icon-small youtube"></a>
                <a href="http://flickr.com/" class="social-icon-small flickr"></a>
                <a href="http://instagram.com/" class="social-icon-small instagram"></a>
                <a href="/rss/" class="social-icon-small rss"></a>
            </div>
            <div id="footer-logo">
                <a href="/"><img src="images/logo.png" alt="logo"></a>
                <p>Copyright &copy; 2017 Hackathon. A bomj team creation </p>
            </div>
        </footer>
    </div>
</body>
</html>