@{ 
    ViewData["Title"] = "Главная";
}

<p>hello from DCP team</p>

@if (User.IsInRole("admin"))
{
    <p>Ты админ</p>

}
else if (User.IsInRole("company"))
{
    <p>Ты компания</p>

}
else
{
    <p>Ты ноунейм</p>
}